@media only screen and (max-width:767px) {
	
	/* START Navigation Bar */ 
	
	.navMenu {
		padding: 10px;

	}
    .BookACall {
        padding:12px 14px;
		margin: 12px 0;
	}

	.navMenu.scrolled {
		padding: 0 10px;
	}
	/* END Navigation Bar */ 

	/* Work Experience */

	.upwork {
		width: 100%;
		flex-direction: column-reverse;
	}

	.upwork div {
		width: 100%;
	}
	
	.projectCards {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
}

@media only screen and (max-width: 480px) {
	
	#myName {
		margin: 0;
	}
	.bio ul {
		padding: 0;
	}
	.socials {
		display: none;
	}
}