
body {
	margin: 0;
	background-color: #2E073F;
	width: 100%;
}
/*-- Fonts --*/
h1, h2, h3, h4 {
	font-family: "Oswald", sans-serif;
}

p, li {
	font-family: "Montserrat", sans-serif;
}

* {
	box-sizing: border-box;
	color:#EBD3F8;
}


/* SHOW GRID LINES  
div {
	border: 1px solid red;
	border-style: dashed;
}   */
	
/* START NAVIGATION */
.navMenu {
	max-width: 1440px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    position: fixed;
	top: 0;
    right: 0;
    left: 0;
	margin: auto;
    background-image: linear-gradient(transparent);
	background-size: 200% 100%;
	transition: all 0.5s ease-in-out;
	border-radius: 0 0 15px 15px;
	z-index: 10;

}

.navMenu.scrolled  {
	/* background-image: linear-gradient(to right, #AD49E1, #EBD3F8 ,#2E073F ,#2E073F, #EBD3F8, #AD49E1); */
	background-image: linear-gradient(45deg, #AD49E1, #7A1CAC ,#792e97,#AD49E1, #7A1CAC ,#792e97);
	box-shadow:  0 0 20px 5px #021e005d;
	max-width: 1800px;
	padding: 0 30px;
	animation: moveGradient 3s ease-in-out infinite alternate;
	color: #FFFFFF;
	font-weight: 500;
}

@keyframes moveGradient {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.navMenu .menuHamburger {
	display: none;
}
#returnTop {
	display: none;
	
}

.fa-location-arrow:before {
	text-decoration: none;
	font-size: 30px;
}
#returnTop {
	text-decoration: none;
    text-align: center;
}

.navMenu.scrolled #returnTop {
    display: flex;
    background-color: #AD49E1;
    height: 50px;
    width: 50px;
    margin-bottom: -60px;
	margin-left: -49px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebd3f83b;
}


.menu a {
	padding: 0 10px;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: #EBD3F8;
	text-decoration: none;
}

.navMenu div {
	display: flex;
	align-items: center;
}
.socials {
	display: flex;
	margin:0;
	padding:10px;
	list-style-type: none;
}

.socials li a {
	margin: 8px;
	padding: 8px 10px;
    border: 1px solid #ebd3f83b;
    border-radius: 8px;
    font-size: 12px;
    background: #7A1CAC;
}

.BookACall {
	background-color: #AD49E1;
	border-radius: 8px;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	border: none;
	margin: 5px;

}



/* END NAVIGATION */ 

/* Bouncing Greetings START */

.greetings {
	display: flex;
	gap: 10px;
  }

  .bounce {
	font-size: 3.0rem;
	font-weight: 800;
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(to right, #EBD3F8, #AD49E1 ,#EBD3F8);
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text; /* For Firefox */
	color: transparent;
	margin-bottom: -10px;
  
}

  .bounce {
	animation: bounce 1s ease-in-out infinite;
	display: inline-block;
  }

  .bounce:nth-child(1) { animation-delay: 0s; }
  .bounce:nth-child(2) { animation-delay: 0.2s; }
  .bounce:nth-child(3) { animation-delay: 0.4s; }

  @keyframes bounce {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-20px);
	}
  }

/* Bouncing Grettings END */

.aboveTheFoldContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	max-width: 1440px;
	margin: auto;
	padding: 25px;
}
.aboveTheFoldContainer {
	background-image: url("images/myProjectsPreview.png"), url("images/lineBG.jpg");
	position: relative;
	background-size: 55%, cover;
	background-position:bottom right, center top;
	background-repeat: no-repeat;
	background-attachment: scroll, fixed;
	padding: 100px 0;
}


/* Above The Fold TOP Content */

h1 {
	font-size: 2.6rem;
	line-height: 1.4;
	font-weight: 900;
}

h1 span {
	color: #AD49E1;
}

.profileDescription {
	max-width: 605px;
}
.profileDescription p {
	font-size: 18px;
	padding-bottom: 20px;
	font-weight: 300;
	line-height: 1.6;
}
.profileDescription .skills {
	padding: 20px 20px 0 20px;

}

.skills li::before {
	content:"➣ ";
	color: yellow;
	height: 50px;
}

.profileDescription ul li {
	font-size: 16px;
	font-weight: 300;
	padding: 4px 0;
}
.profileDescription ul li span {
	color: yellow;
}


/* Above The Fold BOTTOM Content */

.myProfileBanner {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #4B0F69;
	border-radius: 12px;
	padding: 30px 30px 20px 30px;
}
#myName {
	font-size: 1.5rem;
	font-weight: 600;
	padding: 0;
	margin: 10px 0 -10px 40px;

}

.myPicture {
	background-color: #AD49E1;
	border-radius: 150px;
	padding: 5px;
	object-fit: cover;
	border: 2px solid #EBD3F8;	
}

.myPictureContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 150px;
	height: 150px;
	margin: auto;
}

.status {
	position: absolute;
	top: -15px;
	right:-30px;
	background-color: #2E073F;
	padding: 6px 12px 8px 8px;
	border-radius: 20px;
	font-size: 12px;
	font-family: "Montserrat", sans-serif;
}

.pingStatus {
	position: relative;
	padding: 1px 0;
}
.pingStatus::before {
	content: '';
	border: 1px solid yellow;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	border-radius: 20px;
	transform: scale(0);
	animation: borderExpand 1s ease-in-out infinite;
}

@keyframes borderExpand {
	0%, 100% {
	  transform: scale(0);
	  opacity: 0;
	}
	50% {
	  transform: scale(1);
	  opacity: 1;
	}
}

.myProfileBanner ul li {
	font-size: 12px;
	font-weight: 300;
	list-style-type: none;
	padding: 4px 0;
}

.bio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: ;
}



/* My services */

.rotateGear {
	animation: rotate 15s ease-in-out infinite alternate;
}
@keyframes rotate {
	100% {
	  transform: rotate(90deg);
	}
  }
.squareDotsTopLeft {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 0;
	fill: #F7EEFC;
	transform: scale(3);
	position: absolute;
	top: 10%;
	left: -12%;

}

.squareDotsBottomRight {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 0;
	fill: #F7EEFC;
	transform: scale(3);
	position: absolute;
	bottom: 15%;
	right:-10%;

}
.services-wrapper {
	padding: 100px 25px;
	max-width: 1440px;
	position: relative;
	margin: auto;
	
}

.services-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	min-height: 800px;
}
.services h3 {
	font-size: 22px;
	color: #2E073F;
	font-weight: 500;
	text-align: center;
}

.services {
	text-align: center;
	padding: 15px;
	border: 1px solid #2e073f24;
	border-radius: 10px;
	width: 90%;
	background-color: #FAF4FD;
	box-shadow: 0 0 20px 10px #410d550e;
}

#services {
	overflow: hidden;
}

/* Work Experience */

.belowTheFold {
	padding: 30px 20px;
	margin: auto;
	max-width: 1440px;
	background-color: #ffffff;
	border-radius: 30px;
}

h2 {
	color: #2E073F;
	text-align: center;
	font-size:	 4rem;
	line-height: 1.4;
	font-weight: 900;
	margin: 0;
}

.workExperienceSection {
	display: flex;
	flex-direction: column;
	gap: 60px;
	background-color: #f4f4f4;
	color: #2E073F;
	padding-top: 100px;
	background-image: url("images/lineBG.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.workExperience {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px;
}

.projectCards {
	position: relative;
	background-color: #ffffff;
	padding: 10px 10px 20px 10px;
	border: 1px solid #2e073f24;
	border-radius: 12px;
	background-color: #ac49e10f;

}

.projectCards a {
	text-decoration: none;
	
}

.projectCards img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: top;
}	
.projectDescription {
	padding: 20px 20px 60px 20px;
}
.projectTitle {
	font-size: 22px;
	font-weight: 700;
	color: #2E073F;
	padding: 0;
	margin: -5px 0 0 0;
}

.projectExcerpt, .services p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: rgb(98, 93, 93);
}

.viewWebsite {
	position: absolute;
	bottom: 30px;
	background-color: #AD49E1;
	padding: 12px 18px;
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
}

.upwork {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	border: 1px solid #2e073f0c;
	padding: 10px;
	align-items: stretch;
	border-radius: 16px;
	background-color: #ac49e10f;
	grid-column-start: 1;
    grid-column-end: 4;
}

.upworkSummary {
	width: 50%;
	padding: 20px 40px 20px 20px;
}
.upworkCompleted {
	width: 50%;
	background-color: #021E00;
	border-radius: 10px;

}
.upwork img {
	object-fit: contain;
}


.upwork h3 {
	color: #AD49E1;
	font-size: 40px;
	margin: 0;
	margin-bottom: 20px;
}

.upwork p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: rgb(98, 93, 93);	
}

.upwork a {
	display: inline-block;
	background-color: #AD49E1;
	padding: 12px 18px;
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	margin: 25px 0 35px 0;
}

.workStats {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
}

.workStats p {
	width: 50%;
}